<?xml version="1.0" encoding="UTF-8"?>
<web-app >
  <display-name>ctrs</display-name>
  <welcome-file-list>
    <welcome-file>userdetails.jsp</welcome-file>
    <welcome-file>userdetails.htm</welcome-file>
    <welcome-file>userdetails.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertStateController</display-name>
    <servlet-name>InsertStateController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertStateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStateController</servlet-name>
    <url-pattern>/InsertStateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStateController</display-name>
    <servlet-name>ListStateController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListStateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStateController</servlet-name>
    <url-pattern>/ListStateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStateController</display-name>
    <servlet-name>DeleteStateController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteStateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStateController</servlet-name>
    <url-pattern>/DeleteStateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStateController</display-name>
    <servlet-name>EditStateController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditStateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStateController</servlet-name>
    <url-pattern>/EditStateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStateController</display-name>
    <servlet-name>UpdateStateController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateStateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStateController</servlet-name>
    <url-pattern>/UpdateStateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAdminController</display-name>
    <servlet-name>InsertAdminController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAdminController</servlet-name>
    <url-pattern>/InsertAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdminController</display-name>
    <servlet-name>DeleteAdminController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminController</servlet-name>
    <url-pattern>/DeleteAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAdminController</display-name>
    <servlet-name>EditAdminController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAdminController</servlet-name>
    <url-pattern>/EditAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminController</display-name>
    <servlet-name>UpdateAdminController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminController</servlet-name>
    <url-pattern>/UpdateAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAdminController</display-name>
    <servlet-name>ListAdminController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAdminController</servlet-name>
    <url-pattern>/ListAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertFeedbackController</display-name>
    <servlet-name>InsertFeedbackController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertFeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertFeedbackController</servlet-name>
    <url-pattern>/InsertFeedbackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFeedbackController</display-name>
    <servlet-name>ListFeedbackController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListFeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFeedbackController</servlet-name>
    <url-pattern>/ListFeedbackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFeedbackController</display-name>
    <servlet-name>EditFeedbackController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditFeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFeedbackController</servlet-name>
    <url-pattern>/EditFeedbackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFeedbackController</display-name>
    <servlet-name>DeleteFeedbackController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteFeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFeedbackController</servlet-name>
    <url-pattern>/DeleteFeedbackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFeedbackController</display-name>
    <servlet-name>UpdateFeedbackController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateFeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFeedbackController</servlet-name>
    <url-pattern>/UpdateFeedbackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertEventsController</display-name>
    <servlet-name>InsertEventsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertEventsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEventsController</servlet-name>
    <url-pattern>/InsertEventsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListEventsController</display-name>
    <servlet-name>ListEventsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListEventsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEventsController</servlet-name>
    <url-pattern>/ListEventsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEventsController</display-name>
    <servlet-name>DeleteEventsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteEventsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEventsController</servlet-name>
    <url-pattern>/DeleteEventsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEventsController</display-name>
    <servlet-name>EditEventsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditEventsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEventsController</servlet-name>
    <url-pattern>/EditEventsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEventsController</display-name>
    <servlet-name>UpdateEventsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateEventsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEventsController</servlet-name>
    <url-pattern>/UpdateEventsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNewsController</display-name>
    <servlet-name>InsertNewsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNewsController</servlet-name>
    <url-pattern>/InsertNewsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListNewsController</display-name>
    <servlet-name>ListNewsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListNewsController</servlet-name>
    <url-pattern>/ListNewsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNewsController</display-name>
    <servlet-name>DeleteNewsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNewsController</servlet-name>
    <url-pattern>/DeleteNewsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditNewsController</display-name>
    <servlet-name>EditNewsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNewsController</servlet-name>
    <url-pattern>/EditNewsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNewsController</display-name>
    <servlet-name>UpdateNewsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNewsController</servlet-name>
    <url-pattern>/UpdateNewsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCityController</display-name>
    <servlet-name>InsertCityController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertCityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCityController</servlet-name>
    <url-pattern>/InsertCityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCityController</display-name>
    <servlet-name>ListCityController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListCityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCityController</servlet-name>
    <url-pattern>/ListCityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCityController</display-name>
    <servlet-name>DeleteCityController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteCityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCityController</servlet-name>
    <url-pattern>/DeleteCityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCityController</display-name>
    <servlet-name>EditCityController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditCityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCityController</servlet-name>
    <url-pattern>/EditCityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCityController</display-name>
    <servlet-name>UpdateCityController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateCityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCityController</servlet-name>
    <url-pattern>/UpdateCityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertUserdetailsController</display-name>
    <servlet-name>InsertUserdetailsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertUserdetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserdetailsController</servlet-name>
    <url-pattern>/InsertUserdetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserdetailsController</display-name>
    <servlet-name>ListUserdetailsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListUserdetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserdetailsController</servlet-name>
    <url-pattern>/ListUserdetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserdetailsController</display-name>
    <servlet-name>DeleteUserdetailsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteUserdetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserdetailsController</servlet-name>
    <url-pattern>/DeleteUserdetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserdetailsController</display-name>
    <servlet-name>EditUserdetailsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditUserdetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserdetailsController</servlet-name>
    <url-pattern>/EditUserdetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserdetailsController</display-name>
    <servlet-name>UpdateUserdetailsController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateUserdetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserdetailsController</servlet-name>
    <url-pattern>/UpdateUserdetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCinemaController</display-name>
    <servlet-name>InsertCinemaController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertCinemaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCinemaController</servlet-name>
    <url-pattern>/InsertCinemaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCinemaController</display-name>
    <servlet-name>ListCinemaController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListCinemaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCinemaController</servlet-name>
    <url-pattern>/ListCinemaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCinemaController</display-name>
    <servlet-name>DeleteCinemaController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteCinemaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCinemaController</servlet-name>
    <url-pattern>/DeleteCinemaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCinemaController</display-name>
    <servlet-name>EditCinemaController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditCinemaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCinemaController</servlet-name>
    <url-pattern>/EditCinemaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCinemaController</display-name>
    <servlet-name>UpdateCinemaController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateCinemaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCinemaController</servlet-name>
    <url-pattern>/UpdateCinemaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertBranchController</display-name>
    <servlet-name>InsertBranchController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertBranchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertBranchController</servlet-name>
    <url-pattern>/InsertBranchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBranchController</display-name>
    <servlet-name>ListBranchController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListBranchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBranchController</servlet-name>
    <url-pattern>/ListBranchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBranchController</display-name>
    <servlet-name>DeleteBranchController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteBranchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBranchController</servlet-name>
    <url-pattern>/DeleteBranchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBranchController</display-name>
    <servlet-name>EditBranchController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditBranchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBranchController</servlet-name>
    <url-pattern>/EditBranchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBranchController</display-name>
    <servlet-name>UpdateBranchController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateBranchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBranchController</servlet-name>
    <url-pattern>/UpdateBranchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertMoviebranchController</display-name>
    <servlet-name>InsertMoviebranchController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertMoviebranchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMoviebranchController</servlet-name>
    <url-pattern>/InsertMoviebranchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMoviebranchController</display-name>
    <servlet-name>ListMoviebranchController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListMoviebranchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMoviebranchController</servlet-name>
    <url-pattern>/ListMoviebranchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMoviebranchController</display-name>
    <servlet-name>DeleteMoviebranchController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteMoviebranchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMoviebranchController</servlet-name>
    <url-pattern>/DeleteMoviebranchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMoviebranchController</display-name>
    <servlet-name>EditMoviebranchController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditMoviebranchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMoviebranchController</servlet-name>
    <url-pattern>/EditMoviebranchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMoviebranchController</display-name>
    <servlet-name>UpdateMoviebranchController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateMoviebranchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMoviebranchController</servlet-name>
    <url-pattern>/UpdateMoviebranchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertLanguageController</display-name>
    <servlet-name>InsertLanguageController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertLanguageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertLanguageController</servlet-name>
    <url-pattern>/InsertLanguageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListLanguageController</display-name>
    <servlet-name>ListLanguageController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListLanguageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListLanguageController</servlet-name>
    <url-pattern>/ListLanguageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLanguageController</display-name>
    <servlet-name>DeleteLanguageController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteLanguageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLanguageController</servlet-name>
    <url-pattern>/DeleteLanguageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditLanguageController</display-name>
    <servlet-name>EditLanguageController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditLanguageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditLanguageController</servlet-name>
    <url-pattern>/EditLanguageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLanguageController</display-name>
    <servlet-name>UpdateLanguageController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateLanguageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLanguageController</servlet-name>
    <url-pattern>/UpdateLanguageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertMovielanguageController</display-name>
    <servlet-name>InsertMovielanguageController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertMovielanguageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMovielanguageController</servlet-name>
    <url-pattern>/InsertMovielanguageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMovielanguageController</display-name>
    <servlet-name>ListMovielanguageController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListMovielanguageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMovielanguageController</servlet-name>
    <url-pattern>/ListMovielanguageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMovielanguageController</display-name>
    <servlet-name>DeleteMovielanguageController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteMovielanguageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMovielanguageController</servlet-name>
    <url-pattern>/DeleteMovielanguageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMovielanguageController</display-name>
    <servlet-name>EditMovielanguageController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditMovielanguageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMovielanguageController</servlet-name>
    <url-pattern>/EditMovielanguageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMovielanguageController</display-name>
    <servlet-name>UpdateMovielanguageController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateMovielanguageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMovielanguageController</servlet-name>
    <url-pattern>/UpdateMovielanguageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertShowController</display-name>
    <servlet-name>InsertShowController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertShowController</servlet-name>
    <url-pattern>/InsertShowController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListShowController</display-name>
    <servlet-name>ListShowController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListShowController</servlet-name>
    <url-pattern>/ListShowController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShowController</display-name>
    <servlet-name>DeleteShowController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShowController</servlet-name>
    <url-pattern>/DeleteShowController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditShowController</display-name>
    <servlet-name>EditShowController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditShowController</servlet-name>
    <url-pattern>/EditShowController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShowController</display-name>
    <servlet-name>UpdateShowController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateShowController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShowController</servlet-name>
    <url-pattern>/UpdateShowController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertScreenController</display-name>
    <servlet-name>InsertScreenController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertScreenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertScreenController</servlet-name>
    <url-pattern>/InsertScreenController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListScreenController</display-name>
    <servlet-name>ListScreenController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListScreenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListScreenController</servlet-name>
    <url-pattern>/ListScreenController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteScreenController</display-name>
    <servlet-name>DeleteScreenController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteScreenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteScreenController</servlet-name>
    <url-pattern>/DeleteScreenController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditScreenController</display-name>
    <servlet-name>EditScreenController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditScreenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditScreenController</servlet-name>
    <url-pattern>/EditScreenController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateScreenController</display-name>
    <servlet-name>UpdateScreenController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateScreenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateScreenController</servlet-name>
    <url-pattern>/UpdateScreenController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertMovieController</display-name>
    <servlet-name>InsertMovieController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertMovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMovieController</servlet-name>
    <url-pattern>/InsertMovieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMovieController</display-name>
    <servlet-name>ListMovieController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListMovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMovieController</servlet-name>
    <url-pattern>/ListMovieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMovieController</display-name>
    <servlet-name>DeleteMovieController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteMovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMovieController</servlet-name>
    <url-pattern>/DeleteMovieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMovieController</display-name>
    <servlet-name>EditMovieController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditMovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMovieController</servlet-name>
    <url-pattern>/EditMovieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMovieController</display-name>
    <servlet-name>UpdateMovieController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateMovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMovieController</servlet-name>
    <url-pattern>/UpdateMovieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DWR Servlet</display-name>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApplication</display-name>
    <servlet-name>GetApplication</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.GetApplication</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApplication</servlet-name>
    <url-pattern>/GetApplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxDataDAO</display-name>
    <servlet-name>AjaxDataDAO</servlet-name>
    <servlet-class>dsynhub.ctrs.dao.AjaxDataDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxDataDAO</servlet-name>
    <url-pattern>/AjaxDataDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertSeatController</display-name>
    <servlet-name>InsertSeatController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertSeatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSeatController</servlet-name>
    <url-pattern>/InsertSeatController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSeatController</display-name>
    <servlet-name>ListSeatController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListSeatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSeatController</servlet-name>
    <url-pattern>/ListSeatController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSeatController</display-name>
    <servlet-name>DeleteSeatController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeleteSeatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSeatController</servlet-name>
    <url-pattern>/DeleteSeatController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSeatController</display-name>
    <servlet-name>EditSeatController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditSeatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSeatController</servlet-name>
    <url-pattern>/EditSeatController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSeatController</display-name>
    <servlet-name>UpdateSeatController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdateSeatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSeatController</servlet-name>
    <url-pattern>/UpdateSeatController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPaymentController</display-name>
    <servlet-name>InsertPaymentController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.InsertPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPaymentController</servlet-name>
    <url-pattern>/InsertPaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListPaymentController</display-name>
    <servlet-name>ListPaymentController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ListPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListPaymentController</servlet-name>
    <url-pattern>/ListPaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePaymentController</display-name>
    <servlet-name>DeletePaymentController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.DeletePaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePaymentController</servlet-name>
    <url-pattern>/DeletePaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPaymentController</display-name>
    <servlet-name>EditPaymentController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EditPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPaymentController</servlet-name>
    <url-pattern>/EditPaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePaymentController</display-name>
    <servlet-name>UpdatePaymentController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.UpdatePaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePaymentController</servlet-name>
    <url-pattern>/UpdatePaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestMailController</display-name>
    <servlet-name>TestMailController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.TestMailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestMailController</servlet-name>
    <url-pattern>/TestMailController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateReport</display-name>
    <servlet-name>GenerateReport</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.GenerateReport</servlet-class>
    <init-param>
      <param-name>reportTemplet</param-name>
      <param-value>WEB-INF\feedback.jrxml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateReport</servlet-name>
    <url-pattern>/GenerateReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterCityController</display-name>
    <servlet-name>EnterCityController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EnterCityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterCityController</servlet-name>
    <url-pattern>/EnterCityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home_submit</display-name>
    <servlet-name>home_submit</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.home_submit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home_submit</servlet-name>
    <url-pattern>/home_submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckSeatController</display-name>
    <servlet-name>CheckSeatController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.CheckSeatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckSeatController</servlet-name>
    <url-pattern>/CheckSeatController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillController</display-name>
    <servlet-name>BillController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.BillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillController</servlet-name>
    <url-pattern>/BillController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventBookingController</display-name>
    <servlet-name>EventBookingController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EventBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventBookingController</servlet-name>
    <url-pattern>/EventBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieBookingController</display-name>
    <servlet-name>MovieBookingController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.MovieBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieBookingController</servlet-name>
    <url-pattern>/MovieBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventController</display-name>
    <servlet-name>EventController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.EventController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventController</servlet-name>
    <url-pattern>/EventController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurfAsGuestController</display-name>
    <servlet-name>SurfAsGuestController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.SurfAsGuestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurfAsGuestController</servlet-name>
    <url-pattern>/SurfAsGuestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordController</display-name>
    <servlet-name>ForgotPasswordController</servlet-name>
    <servlet-class>dsynhub.ctrs.controller.ForgotPasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordController</servlet-name>
    <url-pattern>/ForgotPasswordController</url-pattern>
  </servlet-mapping>
</web-app>